<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
  <title>Meep</title>
  <link rel="stylesheet" href="https://static.meep.wtf/static/admin/css/signup-page.css" />
</head>
<body style="background-color: black;">
  <div class="title-box" id="fontfamily">
    <h1 id="title">Meep</h1>
  </div>
  <div class="container">
    <div class="vertical-box"></div>
    <div class="small-box">
      <h2>Your email has been confirmed! You may now proceed to login.</h2>
      <button class="button" onclick="window.location.href='https://login.meep.wtf/'">Login</button>
    </div>
  </div>
  <div class="navbar">
    <a href="https://meep.wtf/" class="logo">Meep</a>

    <div class="hamburger" id="hamburger">
      <div></div>
      <div></div>
      <div></div>
    </div>

    <nav id="navMenu" class="blur">
      <a href="#">About</a>
      <a href="#">Contact</a>
    </nav>
  </div>

  <script src="https://static.meep.wtf/static/admin/js/login-scripts.js"></script>
</body>
</html>