<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
  <title>Meep Login</title>
  <link rel="stylesheet" href="https://static.meep.wtf/static/admin/css/login-page.css" />
</head>
<body>
  <!-- Login form container -->
   <div style="height: 6rem;"></div>
  <div class="container">
      {% if error %}
        <p class="error">{{ error }}</p>
      {% endif %}

    <form method="POST" id="customLoginForm">
      {% csrf_token %}
      
      <div class="fake-input-group" data-name="email" tabindex="0" aria-label="Email" role="textbox" contenteditable="true" spellcheck="false" data-placeholder="Email"></div>

      <div class="fake-input-group" data-name="password" tabindex="0" aria-label="Password" role="textbox" contenteditable="true" spellcheck="false" data-placeholder="Password"></div>

      <!-- Hidden inputs to hold actual values -->
      <input type="hidden" name="email" id="emailInput" />
      <input type="hidden" name="password" id="passwordInput" />

      <button type="submit" class="btn-login">Login</button>
    </form>
  </div>

  <!-- Navbar -->
  <div class="navbar">
    <a href="https://meep.wtf/" class="logo">Meep</a>

    <div class="hamburger" id="hamburger">
      <div></div>
      <div></div>
      <div></div>
    </div>

    <nav id="navMenu" class="blur">
      <a href="#">About</a>
      <a href="#">Contact</a>
    </nav>
  </div>

  <!-- JS -->
  <script src="https://static.meep.wtf/static/admin/js/login-scripts.js"></script>
</body>
</html>