<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
  <title>Meep Login</title>
  <link rel="stylesheet" href="https://static.meep.wtf/static/admin/css/login-page.css" />
</head>
<body>
  <!-- Login form container -->
   <div style="height: 6rem;"></div>
  <div class="container">
        <p class="error"></p>

      <form method="POST" class="custom-login-form">
        <div class="input-group hue-border">
          <input type="text" name="email" id="email" required autocomplete="email" placeholder=" " />
          <label for="email">Email</label>
        </div>

        <div class="input-group hue-border">
          <input type="password" name="password" id="password" required autocomplete="current-password" placeholder=" " />
          <label for="password">Password</label>
        </div>

        <button type="submit" class="btn-login hue-border">Login</button>
      </form>
  </div>

  <!-- Navbar -->
  <div class="navbar">
    <a href="https://meep.wtf/" class="logo">Meep</a>

    <div class="hamburger" id="hamburger">
      <div></div>
      <div></div>
      <div></div>
    </div>

    <nav id="navMenu" class="blur">
      <a href="#">About</a>
      <a href="#">Contact</a>
    </nav>
  </div>

  <!-- JS -->
  <script src="https://static.meep.wtf/static/admin/js/login-scripts.js"></script>
</body>
</html>